body {
background-color: rgb(253, 251, 251);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
position: fixed;
top: 0;
width: 100%;
background-color: green;
color: white;
}

nav a{
text-decoration: none;
color: white;
font-size: 15px;
font-weight: bold;
}

nav {
margin-top: 70px;
position: fixed;
background-color: green;
width: 100%;
}

nav:hover a {
color:black ;
}

img {
margin-top: 90px;
}


.lado-direito {
float: right;
width: 50%;
margin-bottom: 50px;
}

.lado-esquerdo {
float: left;
width: 50%;
margin-bottom: 50px;
}

ul, ol {
padding: 50px;
line-height: 30px;
display: inline-block;
}

table{
border: 2px solid grey;
}

table tr td {
font-size: 20px;
}
















